

<div class="comments">
    {{#each comments as |comment|}}
    <section class="comment">
     
        <div class="text">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>