

<section class="section-notebooks">
  <h1 class="titleformat">Your Notebooks</h1>
  {{#if notebooks.length}}
  <div class="card-deck">
    {{#each}}
    <div class="card">
      <div class="title-note-book">Title</div>
      <div class="notebook-edit-link">
        <a href="/dashboard/edit/{{notebook.id}}" class="edit-link">Edit Notebook</a>
      </div>
    </div>
    {{/each}}
    {{/if}}
    <div class="card shadow-note-book">
      <h2>Create New Notebook</h2>
      <form class="new-notebook-form">
        <div>
          <input type="text" id="notebook-title" name="notebook-title" placeholder="TITLE" />
        </div>
        <button class="new-notebook-btn">Create Notebook</button>
      </form>
    </div>
    {{#if notebooks.length}}
  </div>
  {{/if}}
</section>

<script src="/javascript/add-notebook.js"></script>