

{{#if notebooks.length}}
<section>
  <h2>Your Notebooks</h2>
  <ol>
    {{#each notebooks as |notebook|}}
    <li>
      {{> notebook-info notebook}}
      <a href="/dashboard/edit/{{notebook.id}}" class="edit-link">Edit Notebook</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-notebook.js"></script>


      <div class="center circle" class="border-black-500/75 hover:border-black-500/100" id="center-circle">
        <h2>Lab Bench</h2>
      <div class="circle one" id="notebook-circle">
        <h3>View Notebooks</h3>
      </div>
      <div class="circle two" id="new-notebook">
        <h3>Add Notebook</h3>
      </div>
      <div class="circle three" id="new-manager">
        <h3>Something Else</h3>
      </div>
      </div>