

{{#if notebooks.length}}
<section>
  <h2>Your Notebooks</h2>
  <ol>
    {{#each notebooks as |notebook|}}
    <li>
      {{> notebook-info notebook}}
      <a href="/dashboard/edit/{{notebook.id}}" class="edit-link">Edit Notebook</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-notebook.js"></script>