<section class="section-notebooks">
  <h1 class="titleformat">Your Notebooks</h1>
  {{#if projects.length}}
  <div class="container">
    {{#each projects as |project|}}
    <div class="card">
      <div class="title-note-book text-center mt-14 mx-8 mb-52">{{project_name}}</div>
      <div class="notebook-edit-link m-2.5 text-secondary-color content-end">
        <a href="/dashboard/edit/{{project.id}}" class="edit-link">Edit Notebook</a>
        <a href="/api/projects/{{project.id}}">View Labs</a>
      </div>
    </div>
    {{/each}}
    {{/if}}
    <div id="newnotebook"
      class="card shadow-note-book border-secondary-color bg-secondary-color m-2.5 text-center flex flex-col">
      <h2>Create New Notebook</h2>
      <form class="new-project-form uppercase text-center content-center">
        <div>
          <input type="text" id="notebook-title" name="project-title" placeholder="TITLE" />
        </div>
        <button type="submit"
          class="new-notebook-btn btn border-quaternary-color rounded-md bg-quaternary-color items-center mt-36">Create
          Notebook</button>
      </form>
    </div>
    {{#if projects.length}}
  </div>
  {{/if}}
</section>

<script src="/javascript/add-project.js"></script>