

<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-project-form">
    <div>
      <input name="project-title" type="text" value="{{project.title}}" />
    </div>
    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>


<script src="/javascript/edit-project.js"></script>
<script src="/javascript/delete-project.js"></script>
