

<section>
  <h2>
    Edit Notebook
  </h2>
  <form id="edit-project-form" class="edit-project-form">
    <div id="project-id"  data-id="{{project.id}}">
      <input name="project-title" type="text" value="{{project.project_name}}"/>
    </div>
    <button type="submit">Save Notebook</button>
    <button type="button" class="delete-post-btn">Delete Notebook</button>
  </form>
</section>

<script src="/javascript/edit-project.js"></script>
<script src="/javascript/delete-project.js"></script>

