
<section class="notebook-edit-form">
  <h1 class="titleformat" >
    Edit Notebook
  </h1>
  <form id="edit-project-form" class="new-notebook-form">
    <div id="project-id"  data-id="{{project.id}}">
      <input name="project-title" type="text" value="{{project.project_name}}"/>
    </div>
    <button class="new-notebook-btn" type="submit">Save Notebook</button>
    <button class="new-notebook-btn" type="button" class="delete-post-btn" id="deleteproject">Delete Notebook</button>
  </form>
</section>

<script src="/javascript/edit-project.js"></script>
<script src="/javascript/delete-project.js"></script>

