

<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-project-form">
    <div id="project-id"  data-id="{{project.id}}">
      <input name="project-title" type="text" value="{{project_name}}" />
    </div>
    <button type="submit">Save Project</button>
    <button type="button" class="delete-post-btn">Delete Notebook</button>
    <a role="button" class="add-experiment-btn" href="./newlab">Add Experiment</button>
  </form>
</article>


<script src="/javascript/edit-project.js"></script>
<script src="/javascript/delete-project.js"></script>
<script src="/javascript/add-experiment.js"></script>
