

<section class="project-form">
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Notebook
  </h2>
  <form class="edit-project-form">
    <div id="project-id"  data-id="{{project.id}}">
      <input name="project-title" type="text" value="{{project_name}}" />
    </div>
    <button type="submit">Save Notebook</button>
    <button type="button" class="delete-post-btn">Delete Notebook</button>
  </form>
</section>

<section>
  <h1 class="titleformat">Create New Lab Entry</h1>

  <form class="new-lab-form ml-24 flex flex-col">
    <div>
      <label for="lab-title">Title</label>
      <input type="text" id="lab-title" name="lab-title"></textarea>
    </div>
    <div>
      <label for="purpose">Purpose and Hypothesis</label>
      <textarea id="lab-purpose" name="lab-purpose"></textarea>
    </div>
    <div>
        <label for="background">Background</label>
        <textarea id="lab-bg" name="lab-background"></textarea>
    </div>
    <div>
        <label for="protocols">Protocols, Calculations, Reagents, Equipment</label>
        <textarea id="lab-protocols" name="lab-protocols"></textarea>
    </div>
    <div>
        <label for="Observations">Observations</label>
        <textarea id="lab-obs" name="lab-observations"></textarea>
    </div>
    <div>
        <label for="analysis">Analysis</label>
        <textarea id="lab-analysis" name="lab-analysis"></textarea> 
    </div>
    <button type="submit" class="btn bg-quaternary-color ml-16 rounded-md">Create</button>
  </form>
</section>


<script src="/javascript/add-experiment.js"></script>
<script src="/javascript/edit-project.js"></script>
<script src="/javascript/delete-project.js"></script>
<script src="/javascript/add-experiment.js"></script>
