
<article class="lab">
    <div class="title">{{title}}</div>
    <div class="meta">
        <a href="/experiment/{{experiment.id}}">{{<comments class="length">}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>