
  <article class="new-lab-form ml-24 flex flex-col" id="addexperiment">
    <div>
      <label for="lab-title">Title</label>

    </div>
    <div>
      <label for="purpose">Purpose and Hypothesis</label>
   
    </div>
    <div>
      <label for="background">Background</label>
  
    </div>
    <div>
      <label for="protocols">Protocols, Calculations, Reagents, Equipment</label>

    </div>
    <div>
      <label for="Observations">Observations</label>
  
    </div>
    <div>
      <label for="analysis">Analysis</label>

    </div>

  </article>

  <script src="view-one-experiment.js"></script>