
      <form class="login-form text-center">
        <h2 class="titleformat text-black">log-in</h2>
        <div>
            <input class="text-base text-center border-secondary-color rounded-md mt-4 p-2.5" type="text" id="username-login" placeholder="username" />
        </div>
        <div>
            <input class="text-base text-center border-secondary-color rounded-md mt-4 p-2.5" type="password" id="password-login" placeholder="password" />
        </div>
        <div>
            <button class="loginbtn bg-tertiary-color px-4 py-2 border-tertiary-color rounded-md mt-4 hover:bg-quinary-color" type="submit">login</button>
        </div>
    </form>
    <div class="signup-link text-black m-2.5">
      New to Lab Bench? <a href="/signup">Signup!</a>
    </div>

<script src="/javascript/login.js"></script>