

<form class="login-form">
    <div>
        <input type="text" id="email-login" placeholder="email" />
    </div>
    <div>
        <label for="password-login">password:</label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button stype="submit">login</button>
    </div>
</form>


<script src="/javascript/login.js"></script>