

  <form class="login-form">
    <div>
        <input type="text" id="email-login" placeholder="email" />
    </div>
    <div>
        <input type="password" id="password-login" placeholder="password" />
    </div>
    <div>
        <button class="loginbtn" type="submit">login</button>
    </div>
</form>

<script src="/javascript/login.js"></script>