

<section>
    <h2>Create New Project</h2>

    <form class="new-notebook-form">
        <div>
            <label for="notebook-title">Title</label>
            <input type="text" id="notebook-title" name="notebook-title" /> 
        </div>
    </form>
</section>