<section>
    <h2>Create New Project</h2>

    <form class="new-project-form">
        <div>
            <label for="project-title">Title</label>
            <input type="text" id="project-title" name="project-title" /> 
            <button class="btn font-weight-bold" type="submit">Save</button>
        </div>
    </form>
</section>



<script src="/javascript/add-project.js"
