

 <h2 class="titleformat">Signup</h2>
<form class="signup-form text-center" id="signupform">
  <div>
    <input class="text-base text-center border-secondary-color rounded-md mt-4 p-2.5" type="text" id="username-signup" placeholder="username" />
  </div>
  <div>
    <input class="text-base text-center border-secondary-color rounded-md mt-4 p-2.5" type="text" id="email-signup" placeholder="email" />
  </div>
  <div>
    <input class="text-base text-color border-secondary-color rounded-md mt-4 p-2.5" type="password" id="password-signup" placeholder="password"  />
  </div>
  <div>
    <button class="bg-tertiary-color px-4 py-2 border-tertiary-color rounded-md mt-4 hover:bg-quinary-color" type="submit">signup</button>
  </div>
</form>

<script src="/javascript/sign-up.js"></script>