


{{> lab-info experiment}}

{{#if loggedIn}}
<div style="margin-top:50px; margin-left:100px; font-size: 30px; ">Have any questions or suggestions? <span>Leave a comment!</span></div>
<form style="margin:100px;" class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>
    <div>
        <button type="submit">Add Comment</button>
    </div>
</form>
{{/if}}

{{> comments experiment.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}

<script src="/javascript/view-one-experiment.js"></script>