body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #e0f3f9;
    color: #fcfdfd;
}

h1 {
    font-size: 3em;
}

.titleformat {
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: #fcfdfd;
    text-align: center;
    margin-top: 30%;
}

.login-form {
    text-align: center;
}

#email-login {
    border: #5bd0f4;
    padding: 8px;
    border-radius: 5px;
    font-size: 1em;

}

#password-login {
    border:#5bd0f4;
    padding: 8px; 
    border-radius: 5px;
    font-size: 1em;
}

.loginbtn {
    position: relative;
    padding: 8px 16px;
    border-radius: 5px;
}

.loginbtn:active {
    background-color: #5bd0f4;
}

.loginbtn::after {
    content: "";
    position: absoute; 
    width: 16px; 
    height: 16px; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite; 

}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn); 
    }
}

a {
    text-decoration: none;
    color: #fafcfc;
    font-weight: bold;
}

a:hover {
    color: #dbc1ac;
}

.notransition {
    -webkit-text-stroke: none;
    -webkit-text-fill-color: none;
}

nav {
    height: 100%;
    width: 15%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #aae6f9;
    overflow-x: hidden;
    padding-top: 3%;
}

nav a {
    padding: 8px;
    text-decoration: none;
    font-size: 1em;
    color: #fcfdfd;
    display: block;
}

nav a:hover {
    background-color: #5bd0f4;
}