:root {
  --text-color: #fcfdfd;
  --primary-color: #b5e9f4;
  --primary-color-lite: rgb(181, 233, 244, 0.8);  
  --secondary-color: rgb(188, 213, 218);
  --tertiary-color: #69a2b2;
  --quaternary-color: #7ac7b7;
  --quinary-color: #0097bd; 
}

body,
html {


    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: var(--primary-color);
    background-image: url('../img/possible-background.png'); 
    background-position: center;
    background-repeat: none; 
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em; 
}

.login-link {
  font-size: 20px; 
}


.titleformat {
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: var(--text-color);
  text-align: center;
  margin-top: 10%;
}

.login-form {
  margin: 15%;
  text-align: center;
}

.login-title {
  color: black;
}

#username-login {
  border: 1px solid var(--secondary-color);
  padding: 10px;
  border-radius: 5px;
  font-size: 1em;
  margin-top: 1em;
  text-align: center;

}

#password-login {
  border: 1px solid var(--secondary-color);
  padding: 10px;
  border-radius: 5px;
  font-size: 1em;
  margin-top: 1em;
  text-align: center;
}

.loginbtn {
  position: relative;
  padding: 8px 16px;
  border-radius: 5px;
  border-color: var(--quinary-color);
  text-align: center;
  margin-top: 1em;
  background-color: var(--quinary-color);
  color: var(--text-color); 
  width: 175px;
  height: 50px;
  font-size: 16px; 
}


.signup-link {
  color: black;
  margin: 10px;
}
.signup-form {
  margin: 10%;
  text-align: center;
}

#username-signup {
  border: 1px solid var(--secondary-color);
  padding: 10px;
  border-radius: 5px;
  font-size: 1em;
  margin-top: 1em;
  text-align: center;

}

#email-signup {
  border: 1px solid var(--secondary-color);
  padding: 10px;
  border-radius: 5px;
  font-size: 1em;
  margin-top: 1em;
  text-align: center;
}

#password-signup {
  border: 1px solid var(--secondary-color);
  padding: 10px;
  border-radius: 5px;
  font-size: 1em;
  margin-top: 1em;
  text-align: center;
}

.signup-form button {
  position: relative;
  padding: 8px 16px;
  border-radius: 5px;
  border-color: var(--quinary-color);
  text-align: center;
  margin-top: 1em;
  background-color: var(--quinary-color);
  color: var(--text-color); 
  width: 175px;
  height: 50px;
  font-size: 16px; 
}

a {
  text-decoration: none;
  color: var(--quinary-color);
  font-weight: bold;
}

a:hover {
  color: var(--quaternary-color);
}

.notransition {
  -webkit-text-stroke: none;
  -webkit-text-fill-color: none;
}

.withtransition {
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: var(--text-color);
}

.hamburger {
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: var(--text-color);
}

.sideNavBar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--primary-color);
  overflow-x: hidden;
  padding-top: 3%;
  transition: 0.5s;
}

.sideNavBar a {
  padding: 15px;
  text-decoration: none;
  font-size: 1em;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}

.sideNavBar a:hover {
    color: var(--text-color);
    background-color: var(--quinary-color);
    text-decoration: none;

}

.sideNavBar input {
  padding: 15px; 
  font-size: 1em;
  
}

.logout-link {
  margin-top: 50px; 
}


.sideNavBar .closenav {
  top: 0;
  font-size: 2em;
  margin-left: 300px;
}

.sideNavBar .closenav:hover {
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: var(--quinary-color);
  background-color: none;
}

.sideNavBar li {
  list-style: none;
}


.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
  color: black;
}

.new-lab-form {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color-lite);
  border-radius: 5px;
}

.new-lab-form input {
  width: 300px;
}
.new-lab-form textarea {
  width: 300px;
  height: 100px;
  inline-size: 300px;
  overflow-wrap: break-word;
}

.new-lab-form button {
    width: 175px;
    height: 50px;
    background-color: var(--quaternary-color);
    margin-left: 70px; 
    border-radius: 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.card {
  width:300px;
  height: 377px; 
  text-decoration: none;
  border: 1px solid var(--quaternary-color); 
  background-color: var(--quaternary-color);
  margin: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px var(--tertiary-color);
}

.card a {
  color: var(--quinary-color); 
  margin-top: auto; 
}

.notebook-edit-link {
  justify-content: space-between;
}

.notebook-edit-form {
  background-color: var(--primary-color-lite);
  padding: 10px; 
  border-radius: 5px;
}

.title-note-book {
  text-align: center;
  margin: 60px 30px 200px; 
  padding: 8px; 
  color: black;
  background-color: var(--text-color);
  text-transform: uppercase;
  display: flex;
  flex-grow: 1;
}

.shadow-note-book {
  width:300px;
  height: 377px; 
  text-decoration: none;
  border: 1px solid var(--secondary-color); 
  background-color: var(--secondary-color);
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.create-notebook-btn {
  width: 150px;
  height: 50px;
  text-decoration: none;
  border: 1px solid var(--quaternary-color);
  border-radius: 5px;
  background-color: var(--quaternary-color); 
  margin-top: 120px;
  align-items: center;
}

.create-notebook-btn:hover {
  border: 1px solid var(--quinary-color);
  border-radius: 5px;
  background-color: var(--quinary-color); 
}

.new-notebook-form {
  text-transform: uppercase;
  text-align: center;
  align-content: center;
}

.new-notebook-form input {
  font-size: 14px; 
  width: 300px;
  height: 100px;
  inline-size: 300px;
  overflow-wrap: break-word;
}

.new-notebook-btn {
  width: 150px;
  height: 50px;
  text-decoration: none;
  border: 1px solid var(--quaternary-color);
  border-radius: 5px;
  background-color: var(--quaternary-color); 
  margin-top: 50px;
  align-items: center;
}

.new-notebook-btn:hover {
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  background-color: var(--secondary-color); 
  box-shadow: inset -2px -2px var(--quinary-color);
}

.project-experiment-list {
  color: black;
}

.project-experiment-list a {
  text-decoration: none;
  color: black; 
}

.project-form {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}

.experiment-list {
  background-color: var(--primary-color-lite);
  border-radius: 5px;
}

.experiment-list ol {
  font-size: 22px; 
}

.experiment-list li {
  color: var(--text-color); 
}

.experiment-list h2{
  color: var(--text-color); 
}

.experiment-list p{
  font-size: 14px;
  color:var(--tertiary-color); 
}

.new-experiment-btn {
  margin-left: 75px;
  width: 150px;
  height: 50px;
  text-decoration: none;
  border: 1px solid var(--quaternary-color);
  border-radius: 5px;
  background-color: var(--quaternary-color); 
  margin-top: 30px;
  align-items: center;
}

.new-experiment-btn:hover{
  border: 1px solid var(--quinary-color);
  border-radius: 5px;
  background-color: var(--quinary-color);
}

.edit-lab-info {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color-lite); 
  color: var(--text-color); 
  border-radius: 5px;
}

.edit-lab-info label {
  font-size: 22px; 
  color: var(--text-color); 
  background-color: var(--quinary-color);
  border-radius: 2px;
  text-transform: uppercase;
  padding-left: 5px; 
  position: -webkit-sticky;
  position: sticky; 
}

.edit-lab-info input {
  width: 90%;
}
.edit-lab-info textarea {
  height: 300px;
  inline-size: 300px;
  overflow-wrap: break-word;
}

.btn-div {
  flex-direction: row;
  margin-top: 20px; 
}

.save-lab-btn {
  width: 150px;
  height: 50px;
  text-decoration: none;
  border: 1px solid var(--quaternary-color);
  border-radius: 5px;
  background-color: var(--quaternary-color); 

  align-items: center;
  color: var(--text-color); 
}

.save-lab-btn:hover {
  border: 1px solid var(--quinary-color);
  border-radius: 5px;
  background-color: var(--quinary-color); 
}

.delete-lab-btn {
  width: 150px;
  height: 50px;
  text-decoration: none;
  border: 1px solid var(--quaternary-color);
  border-radius: 5px;
  background-color: var(--quaternary-color); 

  align-items: center;
  color: var(--text-color); 
}

.delete-lab-btn:hover {
  border: 1px solid var(--quinary-color);
  border-radius: 5px;
  background-color: var(--quinary-color); 
}

.one-lab-container {
  position: relative;
  width: 90%;
  height: 100%; 
  background-color: var(--primary-color-lite);
  border-radius: 5px;
}

.one-lab-container h4 {
  color: var(--text-color);
}

.experiment-view-heading {
  font-size: 22px; 
  color: var(--text-color); 
  background-color: var(--quinary-color);
  border-radius: 2px;
  text-transform: uppercase;
  padding-left: 5px; 
}

.experiment-info {
  color: var(--tertiary-color); 
  margin: 25px 0;  
  font-size: 20px; 
}

.edit-lab-btn {
  width: 150px;
  height: 50px;
  text-decoration: none;
  border: 1px solid var(--quaternary-color);
  border-radius: 5px;
  background-color: var(--quaternary-color); 
  margin: 0 0 50px 75px; 
  align-items: center;
}

.edit-lab-btn:hover {
  border: 1px solid var(--quinary-color);
  border-radius: 5px;
  background-color: var(--quinary-color); 
}

.experiment-comment-list {
  padding: 1%;
  margin-bottom: 1%;
  color: var(--text-color); 
}

.experiment-comment-list a {
  color: var(--quaternary-color)
}

.experiment-comment-list a:hover {
  color: var(--quinary-color); 
}

.lab-comment-sidebar {
  position: absolute;
  left: 80%;
  right: 10%; 
  top: 33%;
  width: 15%;
  height: 120px; 
  display: flex; 
  flex-direction: column;
  flex-basis: content;
  
}

.lab-comment-list { 
  font-size: 20px;
  flex-grow: 3;
  background-color: var(--primary-color-lite);
  border-radius: 5px;
}

.comment {
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: var(--tertiary-color);
  color: var(--text-color); 
}

.comment:nth-child(even) {
  color: var(--quinary-color); 
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.questions {
  color: black; 
}

.comment-form textarea {
  width: 100%; 
  height: 4em; 
}

.comment-form button{
  color: var(--text-color); 
  position: relative;
  right: 30%; 
  top: 70%;
  width: 150px;
  height: 50px;
  text-decoration: none;
  border: 1px solid var(--tertiary-color);
  border-radius: 5px;
  background-color: var(--tertiary-color); 
  margin: 0 0 50px 75px; 
  align-items: center;
}

.calform {
  background-color: var(--primary-color-lite);
  padding: 5px; 
  border-radius: 5px;
}

.result-div {
  background-color: var(--primary-color-lite);
  border-radius: 5px;
}

.filebtn {
  color: var(--text-color); 
  position: relative;
  right: 30%; 
  top: 25%;
  width: 150px;
  height: 50px;
  text-decoration: none;
  border: 1px solid var(--tertiary-color);
  border-radius: 5px;
  background-color: var(--tertiary-color); 
  margin: 0 0 50px 75px; 
  align-items: center;
}

.back-btn {
  font-size: 20px; 
}

.back-btn:hover {
  text-decoration: none;
}

.attachmentlist ol{
  color: var(--text-color); 
  background-color: var(--primary-color-lite);
  font-size: 20px;
  border-radius: 5px;
}

.deleteattach-btn {
  color: var(--text-color); 
  width: 150px;
  height: 50px;
  text-decoration: none;
  border: 1px solid var(--quaternary-color);
  border-radius: 5px;
  background-color: var(--quaternary-color); 
  margin: 0 0 50px 0; 
  align-items: center;
}